.container {
	margin: 0 auto;
	width: 90%;
	background: #26A69A;
	border-radius: 20px;
}

.container input {
	border-radius: 10px ;
	width: 80%;
	height: 30px;

}
.container textarea {
	border-radius: 10px ;
	width: 80%;
	height: 30px;

}

.container button {
	width: 30%;
	height: 30px;
	border-radius: 15px;
	background: #E8EAF6;
}

.codigoGenerado{
	width: 90%;
	color: orange;
	background: #000;
	margin: 0 auto;
}